@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,300;0,600;0,700;1,600&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing; border-box;
    font-family: "Montserarat", sans-serif;
    
}
/* Header-Styling */
header {
    position: relative;
    background-color: rgb(106, 21, 67); /* Hintergrundfarbe des Headers */
    padding: 90px; /* 20px Abstand oben und unten im Header */
    color: rgb(133, 17, 17); /* Textfarbe im Header */

    
  }

  #header-titel {
    /* Ihre CSS-Stile für das <h1> im Header */
    font-size: 24px;
    color: rgb(216, 39, 39);
    font-family: "Montserarat", sans-serif;
  }
   
  /* Logo-Styling */
  header img {
    width: 70px; /* Ändern Sie die Breite entsprechend Ihrer Anforderungen */
    height: auto; /* Behält das Seitenverhältnis des Logos bei */
    position: absolute; /* Positionierung für das Logo */
    top: 0; /* Oben am Header */
    left: 0; /* Links am Header */
  }
img {
    width: 70px; /* Passen Sie die Breite nach Bedarf an */
    height: auto; /* Behält das Seitenverhältnis bei */
    margin-top: 20px; /* Fügt oberen Abstand hinzu */
  }

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.row {
  display: flex;
  flex-direction: row; /* Anordnen der Karten in vertikalen Spalten */
  justify-content: space-between;
  gap: 180px;
}

.card {
    /* Allgemeine Karten-Stile */
    height: 490px;
    width: 120px;
    margin: 30px;
    margin-bottom: 50px;
    padding: 30px;
   
    background-size: cover;
    text-align: left;

    overflow: hidden;
    transition: all 300ms ease;
    background-color: rgb(94, 73, 107);
    
}


.card:hover{
    width: 190px;
}
.heading{
    color: rgb(255, 0, 0);
    top: 40%;
    transform: rotate(90deg);
    font-size: 25px;
    white-space: nowrap; /* Titel ohne Zeilenumbruch */
    transition: all 300ms ease;
}
.card:hover .heading {
    transform: rotate(0deg);
    white-space: normal; /* Titel mit Zeilenumbruch */


}
.info{
    color: #dadada;
    position: relative;
    top: 100%;
    font-size: 15px;
    transition: all 300ms ease;
    margin: 0 10px;
}
.card:hover .info{
    top: 60%;


}

